
#include "priv/binn.h"

/*************************************************************************************/
int binn_list_get_@FUNCTION_NAME@(binn_t list, int pos, @ARG_TYPE@ *pvalue) {
    return binn_list_get(list, pos, @BINN_TYPE@, pvalue, 0);
}
