
#include "priv/binn.h"

/*************************************************************************************/
int binn_list_add_@FUNCTION_NAME@(binn_t list, const @ARG_TYPE@ value) {
    return binn_list_add(list, @BINN_TYPE@, &value, 0);
}