
#include "priv/binn.h"

/*************************************************************************************/
int binn_object_get_@FUNCTION_NAME@(binn_t obj, const char const *key, @ARG_TYPE@ *pvalue) {
    return binn_object_get(obj, key, @BINN_TYPE@, pvalue, 0);
}