
#include "priv/binn.h"

/*************************************************************************************/
int binn_map_get_@FUNCTION_NAME@(binn_t map, const int id, @ARG_TYPE@ *pvalue) {
    return binn_map_get(map, id, @BINN_TYPE@, pvalue, NULL);
}
