
#include "priv/binn.h"

/*************************************************************************************/
int binn_object_set_@FUNCTION_NAME@(binn_t obj, const char const *key, const @ARG_TYPE@ value) {
    return binn_object_set(obj, key, @BINN_TYPE@, &value, 0);
}