
#include "priv/binn.h"

/*************************************************************************************/
int binn_map_set_@FUNCTION_NAME@(binn_t map, const int id, const @ARG_TYPE@ value) {
    return binn_map_set(map, id, @BINN_TYPE@, &value, 0);
}
